section > a {
  display: block;
  width: fit-content;
  padding-block: .75rem;
  padding-inline: 1.25rem;
  margin-block-start: .75rem;
  margin-inline: auto;
  user-select: none;

  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: var(--text-color-500);
  background-color: var(--accent-color-500);
  border: 2px solid var(--accent-color-800);
  /*border: 2px solid var(--text-color-500);*/
  border-radius: .5rem;
}

#intro {
  padding-inline: 10vw;
  padding-block-start: 1rem;
  padding-block-end: 2rem;
  border-block-end: var(--page-divider);
}

#greeting {
  font-weight: 600;
  font-size: 1.25rem;
  padding-block-end: .5rem;
  display: block;
}

section > a:hover {
  background-color: var(--accent-color-700);
}

[data-theme="dark"] section > a {
  background-color: var(--accent-color-800);
  border: 2px solid var(--accent-color-200);
}

[data-theme="dark"] section > a:hover {
  background-color: var(--accent-color-500);
}

h1 {
  padding-block-start: 3rem;
  padding-block-end: .5rem;
}

#title  {
  /*text-transform: uppercase;
  letter-spacing: .025rem;*/
  font-size: 1.125rem;
  font-weight: 500;
  padding-block-end: .5rem;
}

h1, #title {
  text-align: center;
}

#work {
  margin-block-start: 2rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.skills {
  padding-block-start: 2rem;
}

#work > section {
  width: 100%;
  text-align: center;
}

svg.sectionLabel {
  height: /*3rem*/ 2rem;
  stroke: none;
  fill: var(--text-color-500);
}

#codingIcon {
  height: 1.625rem;
  padding-block: .25rem;
}


/* ================== Media Queries ================== */

/* ---- xs screens (phones & sm tablets) ------------- */
@media screen and (max-width: 575px) { 

  #work {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  #development {
    border-block-end: var(--page-divider);
  }

  #intro {
    padding-inline: 0;
    padding-block-start: 1rem;
    padding-block-end: 2rem;
    border-block-end: var(--page-divider);
  }

}





/*h3 {
  padding-block-start: .5rem;
  padding-block-end: .5rem;
}

h4 {
  margin-block-start: 1.25rem;
  margin-block-end: .375rem;
}

article {
  margin-block-end: 1.5rem;
}

#greeting {
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  margin-block-end: 1rem;
}

#skills #devSkills li svg {
  height: 1.25rem;
}

[data-theme="dark"] #skills li {
  border: solid 1px var(--text-color-500);
  background-color: var(--bg-color-500);
  color: var(--text-color-500);
}

[data-theme="dark"] #skills li svg {
  fill: var(--text-color-500);
}*/