/* ============== Header/Navigation ============== */
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  padding-block: .75rem;
  border-block-end: var(--page-divider);
  user-select: none;
}

header nav ul {
  padding-inline-start: 0;
}

header nav li {
  list-style: none;
  display: inline;
  padding-block: .5rem;
  padding-inline: 1rem;
  font-weight: 500;
  color: var(--text-color-500);
}

header nav a {
  text-decoration: none;
  color: var(--text-color-200);
}

#logosvg {
  fill: var(--text-color-500);
  width: 100%;
  height: auto;
  max-width: /*42.62px*/ 34px;
  margin-inline-end: 2rem;
}

#themetoggle {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

#themetoggle svg {
  fill: none;
  stroke: var(--text-color-500);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
  max-width: 24.65px;
}

header a { 
  position: relative;
}

header a:not(#logoLink)::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background-color: var(--accent-color-800);
  top: 110%;
  left: 0;
}

header a:not(#logoLink):hover::after {
  width: 100%;
  transition: width 0.5s;
}

header a:hover {
  color: var(--accent-color-800);
}

[data-theme="dark"] header a:not(#logoLink)::after {
  background-color: var(--accent-color-200);
}

[data-theme="dark"] header a:not(#logoLink):hover {
  color: var(--accent-color-200);
}


/* ================== Media Queries ================== */

/* ---- xs screens (phones & sm tablets) ------------- */
@media screen and (max-width: 575px) { 

  #logosvg {
    max-width: 30px;
    margin-inline-end: .5rem;
  }

  #themetoggle {
    margin-inline-start: .5rem;
  }

}