section#projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 3vw;
}

.projectcard {
  display: flex;
  flex-direction: column;
  padding-block-start: .5rem;
  padding-block-end: 1.375rem;
  padding-inline: .875rem;
  border: 1px solid var(--bg-color-600);
  border-radius: 1rem;
  background-color: var(--bg-color-400);
  text-decoration: none;
}

.projectcard h4, .projectcard .category, .projectcard .toolscontainer {
  margin-inline: .5rem;
  color: var(--text-color-500);
}

.projectcard h4 {
  font-size: 1.25rem;
}

.projectcard .category {
  margin-block-start: .25rem;
  color: var(--text-color-400);
}

.projectcard:hover img {
  transform: scale(1.1, 1.1);
  transition-duration: .4s;
}



/* ============ Project Thumbnail Image ============ */
.projimg {
  width: 100%;
  background-color: var(--accent-color-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: .25rem;
  margin-block-end: 1rem;
  overflow: hidden;
  border-radius: .75rem;
  max-height: 20rem;
  height: 20rem;
  user-select: none;
}

.projimg img {
  margin: 1.5rem;
  max-width: 85%;
  max-height: 85%;
  object-fit: cover;
  border-radius: .625rem;
}


/* ============ Image Background Colors ============ */
#chocobars .projimg {
  background-color: #f1dde3;
}

#birdbook .projimg {
  background-color: #eed8d2 /*#eee0d2*/;
}

#carrollpromo .projimg {
  background-color: #dfe3e9;
}

#floapp .projimg {
  background-color: #dfe9e9;
}


/* ============ Tools/Technologies Used ============ */
.toolscontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .375rem;
  margin-block-start: .625rem;
}

.toolscontainer p, .toolscontainer li {
  list-style: none;
  color: #f3f3f3;
  background-color: #7692ee;
  padding-inline: .625rem;
  padding-block-start: .125rem;
  padding-block-end: .25rem;
  border-radius: .75rem;
  font-size: 0.875rem;
}

/* -------- Tool / Technology Colors -------- */
.toolscontainer .ps { background-color: #376a94; }
.toolscontainer .ai { background-color: #d39539; }
.toolscontainer .id { background-color: #a31a4f; }
.toolscontainer .watercolor { background-color: #98599e; }

.toolscontainer .html { background-color: #bd3b3b; }
.toolscontainer .css { background-color: #4d59c5; }
.toolscontainer .js { background-color: #4f86cf; }
.toolscontainer .ts { background-color: #d39539; }
.toolscontainer .react { background-color: #4cb8c0; }
.toolscontainer .nodejs { background-color: #70a161; }
.toolscontainer .nextjs { background-color: #5b708b; }
.toolscontainer .rest { background-color: #c47158; }
.toolscontainer .aspnet { background-color: #7062af; }
.toolscontainer .mongodb { background-color: #619267; }
.toolscontainer .vs { background-color: #9762af; }
.toolscontainer .jest { background-color: #964b4b; }
.toolscontainer .vscode { background-color: #309dcf; }



/* ================== Media Queries ================== */

/* ---- extra-large screens -------------------------- */
@media screen and (min-width: 1200px) {
  section#projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ---- xs screens (phones & sm tablets) ------------- */
@media screen and (max-width: 575px) { 

  h4 {
    font-size: 1.5rem;
  }

  section#projects {
    grid-template-columns: 1fr;
  }

  .projimg {
    height: 18rem;
  }

  .projectcard {
    padding-block-end: .75rem;
    padding-inline: .75rem;
  }

}