h1 {
  padding-block-start: 1.125rem;
}

h3 {
  font-size: 1.375rem;
}

#projDetails p, #projDetails li {
  font-size: 1.125rem /*1.2rem*/;
  line-height: 130%; 
}

p + p {
  margin-block-start: .875rem;
}

#backBtn {
  margin-block-start: 1.25rem;
  font-size: .75rem;
}


#projDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /*font-size: 1.2rem;*/
}

#mainImg {
  margin-inline: 1rem;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  max-width: 90%;
  text-align: center;
  margin-block-end: 1.25rem;
}

#mainImg.lightBlueBg {
  background-color: #dfe3e9;
}

#textContent {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.mainImgSm {
  width: auto;
  max-width: 90%;
  margin-inline: auto;
  max-height: 80vh;
}


/* ================= Gallery Section ================= */
#gallery {
  margin-block-start: .5rem;
  padding-block-start: 1.5rem;
  border-block-start: var(--page-divider);
  padding-inline: 2rem;
  position: relative;
  user-select: none;
}

/* --------- Gallery Images --------- */
#imageSlides {
  text-align: center;
}

#imageSlides figure {
  display: none;
}

#imageSlides figure.active {
  display: block;
}

/*#imageSlides figure img {
  max-width: 100%;
  max-height: 35rem;
}*/

#imageSlides figcaption {
  margin-block-start: .5rem;
  font-size: 1.125rem;
}

/* --------- Gallery Arrows --------- */
.galleryArrowBtn {
  background: none;
  border: none;
  position: absolute;
  top: 45%;
}

.galleryArrowBtn svg {
  fill: none;
  stroke: var(--text-color-200);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

#previousSlideBtn {
  left: 0%;
}

#nextSlideBtn {
  right: 0%;
}


/* ================== Gallery Modal ================== */
.modal {
  user-select: none;
  display: none; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  padding-block-start: 2rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-bg-color);
}

.modalContent {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
  padding-block-end: 5rem;
}

#closeBtn {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 3rem;
  color: var(--modal-x-color);
  background: none;
  border: none;
  cursor: pointer;
}

#closeBtn:hover {
  color: var(--modal-x-hover-color);
}


/* ============ Next/Previous Project Nav ============ */
#projNav {
  border-block-start: var(--page-divider);
  padding-block-start: 1rem;
  display: flex;
  flex-direction: row;
  padding-inline: 2rem;
  justify-content: space-between;
}

#prevProjBtn span {
  padding-inline-start: .375rem;
  padding-inline-end: .125rem;
}

#nextProjBtn span {
  padding-inline-start: .125rem;
  padding-inline-end: .375rem;
}



/* ================== Media Queries ================== */

/* ---- xs screens (phones & sm tablets) ------------- */
@media screen and (max-width: 575px) { 

  #projDetails {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  #mainImg {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin-block-end: 1.75rem;
  }

  #textContent {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  #projNav {
    padding-inline: .5rem;
  }

  #projNav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #projNav a span {
    text-align: center;
    width: min-content;
  }

  #prevProjBtn span {
    padding-inline-start: .625rem;
    padding-inline-end: .125rem;
  }

  #nextProjBtn span {
    padding-inline-start: .125rem;
    padding-inline-end: .625rem;
  }

} /* end xs screens */