#backBtn {
  margin-block-start: 1.25rem;
}

#projDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-size: 1.2rem;
}

#textContent {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

#mainImg {
  margin-inline: 1rem;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  max-width: 90%;
  text-align: center;
}

section {
  margin-block-end: 1.25rem;
}

h3 {
  padding-block-end: .375rem;
}

#tools {
  li {
    list-style-type: none;
    display: inline;

    &:not(li:last-child)::after {
      content: " | "
    }
  }
}

/* ================= Gallery Section ================= */
#gallery {
  margin-block-start: .5rem;
  padding-block-start: .5rem;
  border-block-start: var(--page-divider);
  padding-inline: 2rem;
  position: relative;
  user-select: none;

  /* --------- Gallery Images --------- */
  #imageSlides {
    text-align: center;

    figure {
      display: none;
      
      &.active {
        display: block;
      }

      img {

        max-width: 100%;
        max-height: 35rem;
      }

      figcaption {
        margin-block-start: .5rem;
        font-size: 1.1rem;
      }
    }
  }
  
  /* --------- Gallery Arrows --------- */
  .galleryArrow {
    fill: none;
    stroke: var(--text-color-200);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
    position: absolute;
    top: 45%;
  }
  
  #previous {
    left: 0%;
  }
  
  #next {
    right: 0%;
  }

} /* end gallery */


/* ================== Gallery Modal ================== */
  .modal {
    user-select: none;
    display: none; 
    position: fixed;
    z-index: 100;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-bg-color);
  }

  .modalContent {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
  }
  
  #closeBtn {
    position: absolute;
    top: 30px;
    right: 45px;
    color: var(--bg-color-300);
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    /*transition: 0.3s;*/
  }
  
  #closeBtn:hover {
    color: var(--bg-color-700);
  }




/*#gallery {
  margin-block-start: .5rem;
  padding-block-start: 1.5rem;
  border-block-start: 1px solid var(--bg-color-600);
  user-select: none;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1;
  justify-content: center;
  text-align: center;

  position: relative;

  figure {
    display: none;
  }

  figcaption {
    margin-block-start: .75rem;
    margin-block-end: .25rem;
  }
  
  img {
    max-width: 100%;
    max-height: 40rem;
  }

  #radiobuttons {
    margin-block: .75rem;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  #imageSlides {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    padding-inline: 2rem;
    text-align: center;
  }

  &:has(input#sl1:checked) figure#slide1 {
    display: block;
  }

  &:has(input#sl2:checked) figure#slide2 {
    display: block;
  }
  
  &:has(input#sl3:checked) figure#slide3 {
    display: block;
  }

  &:has(input#sl4:checked) figure#slide4 {
    display: block;
  }

  &:has(input#sl5:checked) figure#slide5 {
    display: block;
  }
}

#radiobuttons {
  input {
    display: none;
  }

  label {

    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    background-color: var(--bg-color-800);
  }

  input:checked + label {
    background-color: var(--accent-color-500);
  }
}


.galleryArrow {
  fill: none;
  stroke: var(--text-color-200);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

#previousarrow {
  position: absolute;
  top: 45%;
  left: 0%;
}

#nextarrow {
  position: absolute;
  top: 45%;
  right: 0%;
}
*/