/* =============== Colors / Themes =============== */
:root {
  /* Main Colors */
  --bg-color-300: #fcfcfc;
  --bg-color-400: #f8f8f8;
  --bg-color-500: #f3f3f3;
  --bg-color-600: #e6e6e6;
  --bg-color-700: #dbdbdb;
  --bg-color-800: #d1cece;

  --text-color-100: #9e9d9d;
  --text-color-200: #7e7c7c;
  --text-color-300: #5c5959;
  --text-color-400: #464343;
  --text-color-500: #333131;

  --accent-color-100: #dfe9e1;
  --accent-color-200: #d6eedc;
  --accent-color-300: #b5d4a9;
  --accent-color-500: #b0ceb4;
  --accent-color-600: #a0cfa8;
  --accent-color-700: #8fc097;
  --accent-color-800: #78a17e;

  /* Modal Colors */
  --modal-bg-color: rgba(51, 49, 49, .9);
  --modal-x-color: #fcfcfc;
  --modal-x-hover-color: #dbdbdb;

  /* Page Divider Border */
  --page-divider: 1px solid var(--bg-color-700);
}

[data-theme="dark"] {
  /* Main Colors */
  --bg-color-300: #413f44;
  --bg-color-400: #3a383d;
  --bg-color-500: #2f2d33;
  --bg-color-600: #2a282e;
  --bg-color-700: #27252b;
  --bg-color-800: #1e1d20;

  --text-color-200: #bbb8b8;
  --text-color-300: #d3d1d1;
  --text-color-400: #dfdede;
  --text-color-500: #f3f3f3;
}


/* =============== General Styling =============== */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color-500);
  color: var(--text-color-500);
  padding-inline: 2rem;
  font-family: "Inter", sans-serif;
}

main {
  padding-inline: 1.25rem;
  padding-block-end: 3rem;
}

section {
  margin-block-end: 1.75rem;
}

h1 {
  padding-block-start: 1.5rem;
  padding-block-end: 1.5rem;
}

h3, h2 {
  padding-block-end: .5rem;
}

a {
  text-decoration: none;
}

/* ================= Utility Classes ================= */
.borderBtn {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: var(--text-color-200);
  padding-block: .3rem;
  padding-inline: .6rem;
  border: 1px solid var(--text-color-100);
  font-size: .9rem;
  user-select: none;
}

.borderBtn svg {
  fill: none;
  stroke: var(--text-color-200);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.25px;
}

.borderBtn:hover {
  background-color: var(--accent-color-500);
  color: var(--bg-color-500);
}

.borderBtn:hover svg { /* arrows */
  stroke: var(--bg-color-500);
}

.borderBtnSm {
  padding-block: .2rem;
  padding-inline: .4rem;
  font-size: .8rem;
}

.borderBtnSm svg {
  stroke-width: 1px;
}



.inlineIconLabel {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: var(--bg-color-500);
  background-color: var(--text-color-500);
  border-radius: .75rem;
  padding-inline: 1rem;
  padding-block: .5rem;
  font-weight: 500;
  white-space: nowrap; /* make text not wrap */
  margin-block: .25rem;
}

.inlineIconLabel.sm {
  padding-inline: .75rem;
  padding-block: .5rem;
  margin-inline: .125rem;
  font-size: .9rem;
}

.inlineIconLabel.sm svg {
  height: 1rem;
  fill: var(--bg-color-500);
}

.inlineIconLabel svg {
  height: 1.75rem;
  fill: var(--bg-color-500);
  margin-inline-end: .75rem;
}

/* ================== Media Queries ================== */

/* ---- xs screens (phones & sm tablets) ------------- */
@media screen and (max-width: 575px) { 

  :root {
    font-size: .9rem;
  }

  main {
    padding-inline: .25rem;
    padding-block-end: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

}